# Autheo Validator - example environment
#
# Branding / display
REACT_APP_NAME=Autheo
REACT_APP_CURRENCY=THEO

# General app configs
REACT_APP_ALLOW_INSECURE_NODE=false
REACT_APP_ONBOARDING_WINDOW_DAYS=30
REACT_APP_GENESIS_MIN_STAKE=
REACT_APP_GENESIS_STAKE_LOCK_DAYS=
REACT_APP_REGULAR_MIN_STAKE=
REACT_APP_MIN_STAKE_AMOUNT=
REACT_APP_FEE_DEDUCTION=
REACT_APP_JAIL_TIME=
REACT_APP_DEACTIVATION_TIME=30 minutes

# Network (must match the connected chain)
REACT_APP_DECIMAL=18
REACT_APP_DENOM=
REACT_APP_ADDRESS_PREFIX=
REACT_APP_GAS_PRICE=
REACT_APP_CHAIN_ID=
REACT_APP_GENESIS_FACTORY_ADDRESS=

# API and RPC urls
REACT_APP_EXPLORER_API_URL=
REACT_APP_VALIDATOR_API=
REACT_APP_TENDERMINT_URL=
REACT_APP_EVM_RPC=
REACT_APP_CHAIN_REST_API_URL=
REACT_APP_SUBGRAPH_GRAPHQL_URL=

# Other applications
REACT_APP_EXPLORER_NAVIGATION_URL=
REACT_APP_EVM_EXPLORER=
REACT_APP_VALIDATOR_APP_URL=
REACT_APP_DELEGATOR_APP_URL=
REACT_APP_EXPLORER_TESTNET=
REACT_APP_EXPLORER_MAINNET=

# Public links
REACT_APP_OFFICIAL_WEB_URL=https://www.autheo.com
REACT_APP_DOCS_URL=https://docs.autheo.com
REACT_APP_NETWORK_DOCS_URL=
REACT_APP_GITHUB_URL=
REACT_APP_PRIVACY_POLICY_URL=
REACT_APP_TERMS_OF_SERVICE_URL=
REACT_APP_USER_GUIDE_URL=
REACT_APP_IDE_URL=

# Social links
REACT_APP_SOCIAL_TWITTER=
REACT_APP_SOCIAL_LINKEDIN=
REACT_APP_SOCIAL_TELEGRAM=
REACT_APP_SOCIAL_DISCORD=
REACT_APP_SOCIAL_YOUTUBE=
REACT_APP_SOCIAL_INSTAGRAM=
REACT_APP_SOCIAL_TIKTOK=
REACT_APP_SOCIAL_CMC=
