// $baseColor: var(--brand-primary);
$baseColor: linear-gradient(var(--brand-primary), var(--brand-primary-strong));
$baseColor-2: var(--brand-primary);
$baseColor-light: var(--brand-primary-soft-strong);
$secondaryColor: #191919;
$white: #ffffff;
$black: #000000;